@import './base.css';
@import 'tailwindcss';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */

a {
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(330, 100%, 85%, 0.4);
    border-radius: 999px;
  }
}

/* @media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */ */

  html, body, #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }

  #app {
  display: block;
}

body {
  background-color: white;
  color: black;
}

  /* added
  body {
    margin: 0;
  }
} */

.Vue-Toastification__toast--success {
  background: #e89aa9 !important;
  color: white !important;
}

.Vue-Toastification__toast--error {
  background: #dc4b64 !important;
  color: white !important;
}

.Vue-Toastification__close-button {
  color: white !important;
  opacity: 1 !important;
}

.Vue-Toastification__progress-bar {
  background: rgba(255,255,255,0.45) !important;
}